%h1 Listing comments

%table
  %thead
    %tr
      %th Body
      %th Status
      %th{:colspan => "3"}
  %tbody
    - @entry.comments.try(:each) do |comment|
      %tr
        %td
          - if comment.status == 'Approved'
            = comment.body
          - else
            = '(承認待ち)'
        %td
          - if comment.status != 'Approved'
            = link_to 'Approve', approve_comment_path(comment), :method => :put
        %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }
